
@font-face {font-family: "Ionicons";
  src: url('../assets/ifont/iconfont.eot?t=1488354573600'); /* IE9*/
  src: url('../assets/ifont/iconfont.eot?t=1488354573600#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/ifont/iconfont.woff?t=1488354573600') format('woff'), /* chrome, firefox */
  url('../assets/ifont/iconfont.ttf?t=1488354573600') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../assets/ifont/iconfont.svg?t=1488354573600#iconfont') format('svg'); /* iOS 4.1- */
}

ion-icon {
  display: inline-block;
  font-family: "Ionicons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;
}
/*
.icon-icon_yue:before { content: "\e608"; }

.icon-icon_hui:before { content: "\e60b"; }

.icon-icon_yuejuan1:before { content: "\e60e"; }

.icon-icon_answer:before { content: "\e60f"; }

.icon-icon_yuejuan:before { content: "\e610"; }

.icon-icon_jiang:before { content: "\e611"; }*/

/*.icon-icon_yue:before { content: "\e608"; }*/
.ion-md-imarking:before,
.ion-ios-imarking:before,
.ion-wp-imarking:before,

.ion-ios-imarking-outline:before,
.ion-wp-imarking-outline:before,
.ion-ios-imarking-outline:before,
 { content: "\e608"; }
/*.icon-icon_yuejuan1:before { content: "\e60e"; }*/
.ion-md-imark:before,
.ion-ios-imark:before,
.ion-wp-imark:before,

.ion-ios-imark-outline:before,
.ion-wp-imark-outline:before,
.ion-ios-imark-outline:before,
 { content: "\e60e"; }
/*.icon-icon_hui:before { content: "\e60b"; }*/
.ion-md-iremarking:before,
.ion-ios-iremarking:before,
.ion-wp-iremarking:before,

.ion-md-iremarking-outline:before,
.ion-ios-iremarking-outline:before,
.ion-wp-iremarking-outline:before,
{ content: "\e60b"; }

/*.icon-icon_jiang:before { content: "\e611"; }*/
.ion-md-ipaper:before,
.ion-ios-ipaper:before,
.ion-wp-ipaper:before,

.ion-md-ipaper-outline:before,
.ion-ios-ipaper-outline:before,
.ion-wp-ipaper-outline:before,
{ content: "\e611"; }

/*.icon-icon_answer:before { content: "\e60f"; }*/
.ion-md-ianswer:before,
.ion-ios-ianswer:before,
.ion-wp-ianswer:before,

.ion-md-ianswer-outline:before,
.ion-ios-ianswer-outline:before,
.ion-wp-ianswer-outline:before,
{ content: "\e60f"; }
/*.icon-icon_yuejuan:before { content: "\e610"; }*/
.ion-md-iscoring:before,
.ion-ios-iscoring:before,
.ion-wp-iscoring:before,
ion-ios-icon-ipaper
.ion-md-iscoring-outline:before,
.ion-ios-iscoring-outline:before,
.ion-wp-iscoring-outline:before,
{ content: "\e610"; }

