<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="Umeng"
        version="1.2.2">
    
    <name>Umeng</name>
    
    <js-module src="www/Umeng.js" name="Umeng">
        <clobbers target="MobclickAgent" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        
        <header-file src="src/ios/UMPlugin.h" />
        <source-file src="src/ios/UMPlugin.m" />
        
        <config-file target="config.xml" parent="/widget/plugins">
            <feature name="Umeng">
                <param name="ios-package" value="UMPlugin"/>
            </feature>
        </config-file>
        <framework src="src/ios/UMMobClick.framework" custom="true" />
        <framework src="CoreTelephony.framework" />
        <framework src="libsqlite3.tbd"/>
        <framework src="libz.tbd"/>
        
    </platform>
    
    
</plugin>
